#loginForm {
	width: 270px
}

#registerForm {
	width: 270px;
}

#websiteText {
	color: #495e96;
	padding-top: 0.2em;
	padding-left: 20px;
}

#moveTblLeft {
	padding-left: 20px;
}

.errorText {
	color: #e5272a;
	padding-top: 0.2em;
	padding-left: 20px;
	
}

.container {
	margin-top: 0.7em;
}

.oneToOneChatArea {
	position: absolute;
	left: 1.5%;
}

.senderChatArea {
	padding-top: 0.5em;
}

/*this styling will apply only to chrome*/
@supports not ((-webkit-hyphens: auto) or (-ms-hyphens: auto) or (hyphens: auto)) {
	.recipientChatArea #sendBtn {
	margin-bottom: 1.8em;
	}	
}

/*this styling will apply for edge*/
@supports  ((-webkit-hyphens: auto) or (-ms-hyphens: auto) or (hyphens: auto)) {
	.recipientChatArea #sendBtn {
	margin-top: 1.5em;
	}	
}

#registeredUsernamesList {
	padding-right: 2.5em;
}

#senderChatbox {
	resize: none;
	overflow: scroll;
}

#chatMessage {
	resize: none;
	overflow: scroll;
}